@model Fiap.Exemplo02.MVC.Web.ViewModels.AlunoViewModel
@{
    ViewBag.Title = "Cadastrar";
}

<h2>Cadastro de Aluno</h2>

@Helper.Message(Model.Mensagem, "alert alert-success")

@Html.ValidationSummary() <!--Todas as mensagens -->

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(a => a.Nome)
        @Html.TextBoxFor(a => a.Nome, new { @class = "form-control"})
        @Html.ValidationMessageFor(a => a.Nome)
    </div>
    <div class="form-group">
        @Html.LabelFor(a => a.DataNascimento)
        @Html.TextBoxFor(a => a.DataNascimento, "{0:dd/MM/yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.DataNascimento)
    </div>
    <div class="form-group">
        @Html.LabelFor(a => a.GrupoId)
        @Html.DropDownListFor(a => a.GrupoId , 
                Model.ListaGrupo, "Selecione" , 
                new { @class = "form-control" } )
        @Html.ValidationMessageFor(a => a.GrupoId)
    </div>
    <div class="form-group">
        @Html.CheckBoxFor(a => a.Bolsa)
        @Html.LabelFor(a => a.Bolsa)
    </div>
    <div class="form-group">
        @Html.LabelFor(a => a.Desconto)
        @Html.TextBoxFor(a => a.Desconto, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.Desconto)
    </div>
    <div class="form-group">
        @Html.LabelFor(a => a.Cep)
        @Html.TextBoxFor(a => a.Cep, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.Cep)
    </div>

    <div class="form-group">
        @Html.LabelFor(a => a.Cidade)
        @Html.TextBoxFor(a => a.Desconto, new { @class = "form-control" ,@readonly = "readonly" })
        @Html.ValidationMessageFor(a => a.Cidade)
    </div>
    <div class="form-group">
        @Html.LabelFor(a => a.Numero)
        @Html.TextBoxFor(a => a.Desconto, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.Numero)
    </div>
    <div class="form-group">
        @Html.LabelFor(a => a.Logradouro)
        @Html.TextBoxFor(a => a.Desconto, new { @class = "form-control" ,@readonly = "readonly"})
        @Html.ValidationMessageFor(a => a.Logradouro)
    </div>

    <div class="form-group">
        @Helper.Submit("Salvar","btn btn-primary")
    </div>
}

@section scripts{
    <script>
        $().ready(function () {
            $("#DataNascimento").datepicker({
                dateFormat: 'dd/mm/yy',
                dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                nextText: 'Próximo',
                prevText: 'Anterior'
            });


            $("#Cep").blur(function() {
                $.ajax({
                    url: "http://api.postmon.com.br/v1/cep/" + $("#Cep").val(),
                    method: "GET",
                    success: function (data) {
                        $("#Logradouro").val = data
                    }
                })
            })
            //Validação com ajax
            $("#Nome").blur(function () {

                $.ajax({
                    url: "http://localhost:58692/Aluno/ValidarNome",
                    type: "GET",
                    data: { nome: $("#Nome").val() },
                    success: function(data){
                        if (data.existe) {
                            // o [] pega o atributo, no caso atributo data-valmsg-for da tag span..
                            var erro = $("span[data-valmsg-for=Nome]");

                            erro.addClass("field-validation-error").removeClass("field-validation-valid");

                            erro.html("<span>Nome já cadastrado</span>");
                            //alert("Ok");


                        }
                    },
                    error: function(){
                        alert("Erro ao acessar o servidor")
                    }

                })
            })


            //Valida se o checkbox está marcado, se estiver exibe o desconto, caso contrário esconde
            if ($("#Bolsa").attr("checked") == "checked") {
                $("#Desconto").parent().css("display", "block");
            } else {
                $("#Desconto").parent().css("display", "none");
            }
            //Quando clicar no checkbox Bolsa
            $("#Bolsa").click(function () {
                //Esconde ou exibe a div que possui o campo desconto
                $("#Desconto").parent().slideToggle();
                $("#Desconto").focus();
            });
        });
    </script>
}

